<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookstore</title>
    <link rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" 
        crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container-fluid mt-5">
        <div class="row mt-5">
            <div class="col">

                {{{body}}}
                
            </div>
        </div>
    </div>
</body>
<footer>
    <div style="margin-top: 30px; padding-top: 15px; border: 1px solid black; background-color: black; text-align: center; color: white;">
    <p>Created by Hanzalah Mohammed</p>
    </div>
    </footer>
</html>